<article class="container">
  <article>
    <a [routerLink]="['/nova-ordem-servico']">Nova Ordem de Serviço</a>
  </article>

  <article>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td>Nº  OS:</td>
          <td>Título do Serviço:</td>
          <td>Nome do Cliente:</td>
          <td>Valor do Serviço:</td>
          <td>Data de Execução:</td>
          <td>Ações:</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of ordens">
          <td>{{ordem.numero_servico}}</td>
          <td>{{ordem.titulo_servico}}</td>
          <td>{{ordem.nome_cliente}}</td>
          <td>{{ordem.valor}}</td>
          <td>{{ordem.data_execucao_servico}}</td>
          <td>
            <a href="#">Alterar</a> |
            <a href="#">Remover</a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</article>
